<div class="div">
    <!-- <button mat-flat-button color="primary"class="newProjectBtn" (click)="onNewProject()"><mat-icon>add</mat-icon> New Project</button> -->
    <button style="border-radius: 48px; font-size: medium; background-color:rgb(183, 9, 114)" mat-flat-button  [matMenuTriggerFor]="menu" class="newProjectBtn" aria-label="Example icon-button with a menu" >
      <mat-icon>add</mat-icon> Project
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onJoin()">
        <mat-icon><img src="https://img.icons8.com/dotty/30/000000/add-user-group-woman-woman.png"/></mat-icon> 
      <span>Join project</span>
      </button>
      <hr color="white">
      <button mat-menu-item (click)="onNewProject()">
        <mat-icon> <img src="https://img.icons8.com/ios/30/000000/group-of-projects.png"/></mat-icon>
        <span>Create new project</span>
    </button>
    </mat-menu>
    <div class="container">
    <div class="row justify-content-around">    
    <mat-card class="example-card col-3" *ngFor="let project of projects" >
      <img mat-card-image src={{project.pictureUrl}} class="picture">
        <mat-card-header>      
          <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.description}}</p>
        </mat-card-content>
        <mat-card-actions class="buttons">
          <button mat-button (click)="open(project.id)">Open</button>         
          <button mat-button (click)="onDeleteProject(project.id)">Leave</button>        
          <button mat-button (click)="onShowKey(project.id)">Key</button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
</div>
