<div class="div">
    <button mat-flat-button color="primary"class="newProjectBtn" (click)="onNewProject()"><mat-icon>add</mat-icon> New Project</button>
    <div class="container">
    <div class="row justify-content-around">    
    <mat-card class="example-card col-3" *ngFor="let project of projects" > 
      <img mat-card-image src={{project.pictureUrl}} class="picture">
        <mat-card-header>      
          <mat-card-title>{{project.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Open</button>         
          <button mat-button>Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
</div>
