<!-- <div class="">
    <div class="row no-gutters myborder">
        <div class="col-md-10  border rounded">
                <app-canvas #canvas class=""></app-canvas>
        </div>
        <div class="col-md-2 border rounded">
            <app-toolbar (toolChage)="onToolChange($event)" class=""></app-toolbar>       
        </div>    
    </div>
</div> -->

<mat-drawer-container class="example-container">
    <mat-drawer-content><app-canvas #canvas class=""></app-canvas></mat-drawer-content>
    <mat-drawer class="toolBar" mode="side" opened><app-toolbar (toolChage)="onToolChange($event)" class=""></app-toolbar></mat-drawer>
  </mat-drawer-container>