<mat-drawer-container class="example-container">
    <mat-drawer class="toolBar" mode="side" opened>
        <mat-tab-group class="tabSize">
            <mat-tab label="Tables">
                <button (click)="onAddTable()" mat-button style="margin-top:4%;"><mat-icon aria-hidden="false">add</mat-icon> New Table</button>
                <hr color="white">
                <div class="boardButton" *ngFor="let board of drawingBoards" (click)="onBoardChange(board.id)">
                    <label *ngIf="board.id == selectedBoardId"  style="color: orange;"># {{board.name}}</label>
                    <label *ngIf="board.id != selectedBoardId"># {{board.name}}</label>
                    <a *ngIf="board.id == selectedBoardId" [matMenuTriggerFor]="menu">
                         <mat-icon>more_vert</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item >
                          <mat-icon><img src="https://img.icons8.com/ios/24/000000/edit-user-male.png"></mat-icon> 
                        <span>Rename</span>
                        </button>
                        <button mat-menu-item (click)="onLogout()">
                          <mat-icon> <img src="https://img.icons8.com/material-outlined/24/000000/exit.png"></mat-icon>
                          <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-tab>
            <mat-tab label="Tools">
                <app-toolbar (toolChage)="onToolChange($event)" class=""></app-toolbar>        
            </mat-tab>
        </mat-tab-group>
    </mat-drawer>
    <mat-drawer-content><app-canvas [drawingBoardId]="selectedBoardId" [projectId]="selectedBoardId" #canvas class=""></app-canvas></mat-drawer-content>
  </mat-drawer-container>