<mat-drawer-container class="example-container">
    <mat-drawer class="toolBar" mode="side" opened>
        <mat-tab-group [selectedIndex]="selectedTabNumber.value" (selectedIndexChange)="selectedTabNumber.setValue($event)" class="tabSize">
            <mat-tab label="Tables">
                <button (click)="onAddTable()" mat-button style="margin-top:4%;"><mat-icon aria-hidden="false">add</mat-icon> New Table</button>
                <hr color="white">
                <div class="boardButton" *ngFor="let board of drawingBoards" (click)="onBoardChange(board.id)">
                    <label *ngIf="board.id == selectedBoardId"  style="color: rgb(224, 123, 194);"># {{board.name}}</label>
                    <label *ngIf="board.id != selectedBoardId"># {{board.name}}</label>
                    <a *ngIf="board.id == selectedBoardId" [matMenuTriggerFor]="menu">
                         <mat-icon>more_vert</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onRename()">
                          <mat-icon><img src="https://img.icons8.com/material-outlined/24/000000/edit-file.png"/></mat-icon> 
                        <span>Rename</span>
                        </button>
                        <hr color="magenta">
                        <button mat-menu-item (click)="onDelete()">
                          <mat-icon><img src="https://img.icons8.com/metro/26/000000/delete-sign.png"/></mat-icon>
                          <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
            </mat-tab>
            <mat-tab label="Tools">
                <app-toolbar (toolChage)="onToolChange($event)" class=""></app-toolbar>        
            </mat-tab>
            <mat-tab #shapeTab disabled="true" visible="false" label="Shape">
                <app-shape-properties #shapeProperties (onColorChange)="changeShapeColor($event)" (onDelete)="deleteShape()"></app-shape-properties>
            </mat-tab>
        </mat-tab-group>
        <div class="image"> </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="nesto">
            <app-canvas (shapeSelectionChaned)="shapeSelectionChanged()" [drawingBoardId]="selectedBoardId" [projectId]="selectedBoardId" #canvas class="canvas"> </app-canvas>
            <div *ngIf="!showChat ; else elseBlock">
                <button (click)="visibleChat()" mat-flat-button class="openBtn"><mat-icon>keyboard_arrow_up</mat-icon></button>
            </div>
            <ng-template #elseBlock>
                <button (click)="visibleChat()"  mat-flat-button class="closeBtn"><mat-icon>keyboard_arrow_down</mat-icon></button>
            </ng-template>
            <app-chat-component [style.display]="showChat ? '' : 'none'" #chat ></app-chat-component>
        </div>     
</mat-drawer-content>
  </mat-drawer-container>
 