.sideButton{  
    position: absolute;
    right:0px;
}
.toolbar{  
    font-family :Georgia;
    font-size: 25px;
    margin-left: 45px;
}
.name{
    font-family :Georgia;
    position: absolute;
    right:150px;
}
.pictureBox{
    border-radius: 50%;
    position: absolute;
    right:220px;
    width: 45px;
    height: 45px;
}
.pictureLogo{
    border-radius: 50%;
    position: absolute;
    width: 45px;
    height: 45px;
}