.sideButton{  
    position: absolute;
    right:0px;
}
.toolbar{  
    font-family :Georgia;
}
.name{
    font-family :Georgia;
    position: absolute;
    right:150px;
}
.pictureBox{
    border-radius: 50%;
    position: absolute;
    right:220px;
    width: 45px;
    height: 45px;
}