.mytoolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonPanel{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonPanel button{
    margin-right: 2%;
    margin-left: 2%;;
}
.toolbarTitle{  
    font-family :Georgia;
    font-size: 25px;
    margin-left: 45px;
}
.name{
    font-family :Georgia;
    margin-left: 4%;
}
.pictureBox{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.pictureLogo{
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.profileBox{
    display: flex;
    flex-direction: row;
    //width: 100%;
    justify-content: right;
    //margin-right: 4%;
    //min-width: 600px;
}