.example-container {
  width: 300px;
  height: 93vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #7d005e;
  box-shadow: inset 31px 72px 154px 84px rgba(0,0,0,1);

}
.example-sidenav {
  padding: 20px;
  background-color: #7d005e;
  box-shadow: inset 29px 80px 89px 84px rgba(0,0,0,0.38);
}
.chatBtn{
    position: absolute;
    right: 0;
}
.groupBtn{
    position: absolute;
    left: 0;
    top:0;
}
.picture{
    position: absolute;
    left: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.user{
    display: flex;
    flex-direction: row;
}
.name{
    font-size: small;
    color:rgb(247, 180, 253);
    margin-bottom: 0px;
    margin-left: 0px;
}
.list{
  margin-bottom: 12px;
  border-bottom: 0.5px solid rgb(53, 4, 51)!important;
}
.nameAndContent{
  margin-left:58px;
  display: flex;
  flex-direction: column;
}
.userName{
  margin-left:40px;
}
.inputAndBtn{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.input{
  width: 230px;
}
.messages{
  position: absolute;
  top: 35px;
  overflow: auto;
  height: 73vh;
  width: 295px;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1d0015; 
} 
::-webkit-scrollbar-thumb {
  background: rgb(73, 2, 50); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(207, 105, 168); 
}