 .card{
    background-color: rgb(27, 27, 27);
    height: 550px;
    width: 650px;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
}
.exit{
    position: absolute;
    right: 0;
    background-color: rgb(27, 27, 27);
}
.txt{
    font-family: Georgia;
    color: seashell;
    margin-left: 5%;
    margin-top: 4%;
}
.div1{
    display: flex;
    flex-direction: column;
}
.div2{
    margin-top: 13%;
    margin-left: 12%; 
}
.full-width {
    width: 300px;
    color:seashell;
    margin-left: 10px;
}
.image{
    height: 200px;
    width: 200px;
    margin-bottom: 10%;
}
.div3{
    margin-top: 75%;
    position: absolute;
    right: 30px;
}
.cancel{
    margin-right: 10px;
}