<div class="spinnerCard card" *ngIf="uploadingFile">
    <mat-spinner></mat-spinner>
  </div>
<div *ngIf="!uploadingFile"  class="card">
    <button mat-flat-button class="exit" (click)="onNoClick()">
        <mat-icon>close</mat-icon> 
    </button>
    <div class="div1">
        <h3 class="txt">Edit Your profile</h3>
        <p class="txt">Full name:</p>
            <mat-form-field class="full-width">
                <mat-label>{{oldName}}</mat-label>
              <input matInput (input)="name = $event.target.value">
            </mat-form-field>
        <p class="txt">E-mail:</p>
        <mat-form-field class="full-width">
            <input matInput placeholder={{oldEmail}} (input)="email = $event.target.value">
          </mat-form-field>
        <p class="txt">Username:</p>
        <mat-form-field class="full-width">
            <input matInput placeholder={{oldUsername}} (input)="username = $event.target.value">
          </mat-form-field>
    </div>
    <div class="div2">
        <p class="txt">Profile photo</p>
        <div *ngIf="showPicture()==false">
          <img  class="image" src="https://img.icons8.com/plasticine/2x/gender-neutral-user.png">
        </div>
        <div *ngIf="showPicture()==true">
            <img class="image"src={{pictureUrl}}>
        </div>
        <input style="display: none" type="file" (change)="onImageChanged($event)" #fileInput>
        <button mat-flat-button  (click)="fileInput.click()" color="primary">Upload an image</button>
    </div>
    <div class="div3">
        <button mat-flat-button class="cancel" (click)="onNoClick()">Cancel</button>
    <button mat-flat-button color="primary" (click)="submit()">Save Changes</button> 
    </div>
   
</div>
