.bg {
    background-image: url("https://mewallpaper.com/thumbnail/abstract/4363-colorful-shapes-black-background-free-download-image.jpg");
    height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color:rgb(245, 245, 245);
    font-family: cursive;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 8%;
    text-shadow: 3px 3px 5px grey;
}
.name{
    color:rgb(250, 248, 248);
    font-family: cursive;
    font-size: 100px;
    margin-left: 7%;
    margin-bottom: 12%;
    text-shadow: 4px 5px 5px grey;
}
.unvisible{
    visibility: hidden;
}
.text{
    color:rgb(246, 248, 134);
    font-family: serif;
    font-size: 20px;
    margin-left: 5%;
    text-shadow: 2px 2px 4px grey;
    border-right: 3px solid orange;
    animation: type 3s steps(40, end);   
    margin: 1 auto;
  //  animation-iteration-count: 2;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: .08em; 
}
.delayText{
    animation: typeDelay 5s steps(62, end);
    animation-delay: 3s;
    animation-fill-mode: forwards;
    width: 0;
}
@keyframes type{
    0%{
        width:0ch;
    }
    100%{
         width: 38ch; 
    }
}
@keyframes typeDelay{
    0%{
     width:0ch;
    }
    100%{
         width: 62ch; 
    }
}